.header{
    text-decoration: none;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

.nav .inactive {
    color: white;
    text-decoration: none;
}

.nav .active {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.649);
}